<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Forgot Password</h3>

      <div class="formGroup">
        <input
          type="email"
          class="form-control"
          placeholder="Email Address"
          #passwordResetEmail
          required
        />
      </div>

      <div class="formGroup">
        <input
          type="submit"
          class="btn btn-primary btn-block"
          value="Reset Password"
          (click)="ngAuthService.ForgotPassword(passwordResetEmail.value)"
        />
      </div>
    </div>
  </div>
</div>
