<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Signin</h3>
      <div class="formGroup">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          #userName
          required
        />
      </div>

      <div class="formGroup">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          #userPassword
          required
        />
      </div>

      <div class="formGroup">
        <input
          type="button"
          class="btn btn-primary btn-block"
          value="Sign in"
          (click)="ngAuthService.SignIn(userName.value, userPassword.value)"
        />
      </div>

      <div class="formGroup">
        <button
          type="button"
          class="btn btn-danger btn-block"
          (click)="ngAuthService.GoogleAuth()"
        >
          Log in with Google
        </button>
      </div>

      <div class="forgotPassword">
        <span routerLink="/forgot-password">Forgot Password?</span>
      </div>
    </div>

    <div class="redirectToLogin">
      <span
        >Not registered yet?<span class="redirect" routerLink="/sign-up">
          Register</span
        ></span
      >
    </div>
  </div>
</div>
